div.content {
  margin-left: 4em;
  margin-right: 4em;
  max-width: 960px;
}

div.graph {
  margin-top: 0;
  margin-bottom: 1em;
  height: 10em;
  background-color: #fff;
}

svg.graph {
  height: 100%;
  width: 100%;
}

h3.graph-title {
  line-height: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

.axis path {
  fill: none;
  stroke: black;
}

.axis text {
  font-size: 0.65em;
}

.quartile-graph-line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.range-graph-area {
  fill: #cfcfcf;
}

.middle-graph-area {
  fill: #afafaf;
}
