div.content {
  margin-left: 4em;
  margin-right: 4em;
  max-width: 960px;
}

div.graph {
  margin-top: 2em;
  margin-bottom: 2em;
  height: 12em;
  background-color: #f0f6fa;
}

svg#dew_point_graph {
  height: 100%;
  width: 100%;
}

.quartile-graph-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.range-graph-area {
  fill: #cfcfcf;
}

.middle-graph-area {
  fill: #afafaf;
}
