<!doctype html>
    <head>
      <!-- CSS -->
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
      <link rel="stylesheet" href="static/css/main.css">
      <!-- end CSS -->
      <title>
        Forecast Dashboard
      </title>
    </head>

    <body>

      <div class="content">
        <h1>
          Forecast Dashboard
        </h1>

        <div class="pure-g">
          <div class="pure-u-1-1">
            <h3>Temperature</h3>
          </div>
          <div class="pure-u-1-1 graph">
          </div>

          <div class="pure-u-1-1">
            <h3>Wind speed</h3>
          </div>
          <div class="pure-u-1-1 graph">
          </div>

          <div class="pure-u-1-1">
            <h3>Precipitation</h3>
          </div>
          <div class="pure-u-1-1 graph">
          </div>

        </div>
      </div>

      <!-- js spiking -->
      <script>
      </script>
      <!-- end js -->

    </body>
</html>
